<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    
    <div>
        <img src="{{product}}" width="500px" height="500px">
        <h2>
            Product Name : {{metaData.productDisplayName}}
        </h2>
        <h2>
            Usage : {{metaData.usage}}
        </h2>
        <h2>
            Manufacture Year : {{metaData.year}}
        </h2>
        <h2>
            Season : {{metaData.season}}
        </h2>
        <h2>
            Colour : {{metaData.baseColour}}
        </h2>
        <h2>
            Type : {{metaData.articleType}}
        </h2>
        <h2>
            Sub Catageory : {{metaData.subCategory}}
        </h2>
        <h2>
            Category : {{metaData.masterCategory}}
        </h2>
        <h2>
            Gender : {{metaData.gender}}
        </h2>
    </div>
    

</body>
</html>
